.product-item {
    display: column;
    width: 25%;
    height: 33%;
    margin: 1rem;
    border: 1px solid var(--piggy-pink);
    padding: 1rem;
    border-radius: 8%;
}

.product-image {
    width:80%;
    object-fit: cover;
    margin-right: 1rem;
}

.product-details h3 {
    color: var(--deep-sapphire);
    font-size: 1.1rem;
}

.product-details p {
    color: var(--salt-box);
    font-size: 0.8rem;
}

.product-details button {
    padding: 0.3rem;
    background-color: var(--english-lavender);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 40%
}

.product-details button:hover {
    background-color: var(--kobi);
}
