.product-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 2% auto;
    padding: 1.2rem;
    background-color: var(--pink-lace); 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(36, 65, 121, 0.144) 
}

.product-upload-container h2 {
    text-align: center;
    color: var(--deep-sapphire);
    margin-bottom: 1.5rem;
}

.product-type-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}

.product-type-selector label {
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--salt-box);
}

input[type="text"],
input[type="radio"],
select,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--english-lavender);
    border-radius: 4px;
    background-color: var(--traffic-white);
    color: var(--deep-sapphire); 
}

textarea {
    
    resize:none;
}

.image-links-section,
.tags-section {
    margin-bottom: 1rem;
}

.image-link-item,
.tag-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.image-link-item input,
.tag-item input {
    flex-grow: 1;
    margin-right: 0.5rem;
}

button {
    background-color: var(--marzipan);
    color: var(--deep-sapphire); 
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--tumbleweed); 
    color: var(--deep-sapphire); 
}

button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--english-lavender);
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    margin: 0.6rem;
}

button[type="submit"]:hover {
    background-color: var(--kobi);
}
